div#channelSlack-history {
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    cursor: default;
    margin: 0;
    padding: 6px 0;
    overflow: auto;
}
.slackMsg {
    padding: 5px;
    font-size: 12px;
}
.slackMsgDate {
    font-size: 11px;
    font-style: italic;
    color: #9e9ea6;
}
.slackMorePanel {
    font-size: 11px;
    background-color: #eee;
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
    border-top: none;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-style: italic;
}
.slackMsg:hover {
   background-color: #E6E6E6 !important;
}
.slackMsg:nth-child(even) {
    background-color: #f5f5f5;
}
span#channelSlack-header-chanstatus {
    margin: 0 5px;
}
div#channelSlack-members {
    margin: 10px 0;
}
.hopInIcon {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    vertical-align: middle;
}
span#channelSlack-header-chanmembers span {
    font-size: 12px;
}
